@font-face {
    font-family: 'LatoBold';
    src: local('LatoBold'), url(../../fonts/Lato-Bold.ttf) format('truetype');
}


@font-face {
    font-family: 'LatoRegular';
    src: local('LatoRegular'), url(../../fonts/Lato-Regular.ttf) format('truetype');
}

@mixin latoBold{
    font-family: 'LatoBold';
}

@mixin latoRegular{
    font-family: 'LatoRegular';
}